[Amazon]
AWSAccessKeyId=AKIAIZUAQVAB6C4G7TXA
SecretAccessKey=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

[TT]
root=/Users/bjones/Development/scripts

[log]
file=/tmp/find_amazon_servers.log

[existing_ips]
#file=/usr/local/nagios/etc/dynamic_hosts/ip_list.txt
file=ip_list.txt

[server_groups]
name=paymentservice.pcidmz,tampa.dmz,search.dmz,reviews.dmz,neighbors.dmz,messages.dmz,deals.dmz,bc.dmz,b2bapi.dmz,atc.dmz

[tampa.dmz]
test=spaceship_healthcheck
template=spaceship_healthcheck
port=80
fields=success
secure=0

[atc.dmz]
test=spaceship_healthcheck
template=spaceship_healthcheck
port=9000
fields=success
secure=0

[paymentservice.pcidmz]
test=spaceship_healthcheck
template=spaceship_healthcheck
port=443
fields=success
secure=1

[search.dmz]
test=search_healthcheck
template=search_healthcheck
port=80
fields=status
secure=0

[rewardssearch.dmz]
test=spaceship_healthcheck
template=spaceship_healthcheck
port=9701
fields=success
secure=0



